agent:
    interfaces:
        - 
    output:
        - kafka:
            host:
            port:
        - stdout:
            verbosity:
analyst:
    input:
        - kafka:
            host:
            port:

filter:
    protocols:
        - 

